<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            color: azure;
        }
    </style>
</head>
<body style="background-color:  rgb(255, 135, 22);">
    <div class="box">
        <h3>{{blogs.heading}}</h3>
        <p>{{blogs.content}}</p>
        <p>{{blogs.created_at}}</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="checkbox" name="delete" value="d" required>
        <input type="submit" name="DEL" id="" value="Delete blog">
    </form>
    
</body>
</html>